.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  display: flex;
  color: white;
  min-height: 100vh;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
